// Generate this on firebase

const firebaseConfigExample = {
  type: "service_account",
  project_id: "<YOUR_PROJECT_ID>", // e.g., "audioshare-xxxx"
  private_key_id: "<YOUR_PRIVATE_KEY_ID>", // A unique ID for the key
  private_key:
    "-----BEGIN PRIVATE KEY-----\n[REDACTED PRIVATE KEY CONTENT - DO NOT SHARE YOUR ACTUAL KEY]\n-----END PRIVATE KEY-----\n", // Your actual multi-line private key
  client_email:
    "<YOUR_SERVICE_ACCOUNT_EMAIL>@<YOUR_PROJECT_ID>.iam.gserviceaccount.com", // e.g., "firebase-adminsdk-xxxxx@audioshare-12345.iam.gserviceaccount.com"
  client_id: "<YOUR_CLIENT_ID>", // A unique numeric ID for the service account
  auth_uri: "https://accounts.google.com/o/oauth2/auth",
  token_uri: "https://oauth2.googleapis.com/token",
  auth_provider_x509_cert_url: "https://www.googleapis.com/oauth2/v1/certs",
  client_x509_cert_url:
    "https://www.googleapis.com/robot/v1/metadata/x509/<YOUR_SERVICE_ACCOUNT_EMAIL>%40<YOUR_PROJECT_ID>.iam.gserviceaccount.com", // URL containing your service account email
  universe_domain: "googleapis.com", // Usually "googleapis.com"
};
